
.slide{
    background:transparent url(../images/Decore.svg) 0% 0% padding-box no-repeat ;
    /* position: relative; */
    background-size: cover;
    top: -154px;
    left: 900px;

    width: 766.31px;
    height: 872.58px;
}

.landing .container{
  display: flex;
  align-items: center;

}
.content{
  display: flex;
}
.img{
  margin: -69px 10px 10px 20px;
}
.content .traveller{
  width: 600px;
  height: 764px;
}
.info{
  margin-top: 100px;
}
.info h2{
  color: #181E4B;
  font-size: 84px;
  font-weight: bold;
  font-family: volkhov;
  margin: 12px 0 30px 0px;

}
.info h3{
 color: #DF6951;
 font-size: 20px;
 font-weight: bold;
font-family: poppins;
}
.info p{
  color: #5E6282;
  font-size: 16px;
  font-weight: 500;
 font-family: poppins;
}
.btns-landing{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 20px;

  margin-bottom: 40px;
}
.btns-landing button {
  margin-right: 30px;
  background: #F1A501;
  padding: 15px 25px;
  /* outline: none; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: google-sans;
  color: #ffff;
}
.btns-landing button:hover{

  background: #f5b222;
}


.btns-landing p {
  margin-left: 20px;
}
.info-play{
display: flex;
align-items: center;
justify-content: center;
}
.info-play .img-play {
  width: 54px;
  height: 54px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .content .traveller{
display: none;
}
.info{
  text-align: center;
}
.btns-landing {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.header .nav li a {
  /* margin-left: 15px; */
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  position: relative;
  color: black;
  padding: 0px 8px
}
}
@media (min-width: 650px) {
  .header .nav li a {
      padding: 0 8px;
  }

}

@media (max-width: 768px) {
  .info h2 {
    color: #181E4B;
    font-size: 60px;
  

}}
